.skills__hobbies{
    padding-top: 7rem;
}
.skills h1{
    font-size: 2rem;
    text-align: center;
    padding-bottom: 7rem ;
    font-weight: bold;
}
.skills__nav{
    justify-content: space-around;
}
.skills__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.hobbies{
    padding: 7rem 0;
}
.hobbies h1{
        font-size: 2rem;
        text-align: center;
        padding-bottom: 7rem ;
        font-weight: bold;
}
.hobbies__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
}
.hobbies__nav{
    justify-content: space-around;

}
.skills__list i {
    color: rgb(141, 200, 85);
    font-size: 3.5rem;
}
.hobbies__list i {
    color: rgb(141, 200, 85);
    font-size: 3rem;
    
}