.sobre-mi{
    margin-top: 5rem;

}
.sobre-mi__descripcion{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 70%;
}
.sobre-mi__descripcion h1{
    font-size: 1.4rem;
}
.sobre-mi__descripcion__nav{
    width: 50%;
    gap: 2rem;
    flex-wrap: wrap;
}
.sobre-mi__descripcion__nav b {
    color: rgb(35, 196, 29)
}
.sobre-mi__descripcion p{
    line-height:  18.78px;
}